//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 19 12:03:32 2024
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "btd" LOCATE = SITE "C9" LEVEL 1;
COMP "bte" LOCATE = SITE "A8" LEVEL 1;
COMP "btm" LOCATE = SITE "B8" LEVEL 1;
COMP "bts" LOCATE = SITE "C4" LEVEL 1;
COMP "d<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "d<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "d<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "d<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "sel<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "d<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "sel<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "d<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "sel<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "d<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "sel<3>" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

